# ===== ไม่ต้องขึ้น git =====
webmap/

# ===== Environment =====
.env
.env.local
.env.*.local

# ===== Node.js =====
node_modules/
npm-debug.log*
yarn-error.log*

# ===== NestJS build =====
backend/dist/

# ===== Next.js build =====
frontend/.next/
frontend/out/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Docker =====
*.log
